<% if @service.present? %>
<div class="row">
	<div class="col-md-12">
		<div class="box box-default">
			<div class="box-header with-border">
				<i class="fa fa-bullhorn"></i>
				<h3 class="box-title">Servicio <b><%=@service.name%></b></h3>
			</div>
			<div class="box-body">
				<p>
					La informacion representada en los graficos, corresponde a los c칩digos de estado HTTP que acompa침aron las respuestas recibidas desde el servicio y sus respectivo metodos, generalmente si todo va bien la respuesta debiera estar en el rango de los <b>2xx</b>, en el caso de que la respuesta no corresponda a este segmento se gatilla una alerta desde el sistema que representa un incidente y se despliega en el grafico con el codigo respectivo.<br/>
					Para conocer mas sobre respuestas HTTP puedes <a href="https://es.wikipedia.org/wiki/Anexo:C%C3%B3digos_de_estado_HTTP#2xx" target="_blank">VER AQUI.</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="box box-default">
			<div class="box-body">
				Ver >>
				&nbsp;<a href="?stretch=24h">24 horas</a>
				&nbsp;|&nbsp;<a href="?stretch=week">7 dias</a>
				&nbsp;|&nbsp;<a href="?stretch=month">1 mes</a>
				&nbsp;|&nbsp;<a href="?stretch=3month">3 meses</a>
				&nbsp;|&nbsp;<a href="?stretch=6month">6 meses</a>
				&nbsp;|&nbsp;<a href="?stretch=6month">1 a침o</a>
			</div>
		</div>
	</div>
	<%@service.actions.each do |action|%>
			<div class="col-md-4">
				<div class="box box-default">
					<div class="box-header with-border">
						<a href="/services/action/<%=action.id%>"><h3 class="box-title"><%=action.name%></h3></a>
					</div>
					<div class="box-body">
						<% if params[:stretch] == '24h' %>
							<!-- Ultimas 24 Horas -->
							<%= pie_chart action.logs.where('created_at > ?', 24.hours.ago).group(:response_code).count, height: "202px" %>
						<% elsif params[:stretch] == 'week' %>
							<!-- Ultima semana -->
							<%= pie_chart action.logs.where('created_at > ?', 7.days.ago).group(:response_code).count, height: "202px" %>
						<% elsif params[:stretch] == 'month' %>
							<!-- Ultimo mes -->
							<%= pie_chart action.logs.where('created_at > ?', 1.month.ago).group(:response_code).count, height: "202px" %>
						<% elsif params[:stretch] == '3month' %>
							<!-- Ultimos 3 meses -->
							<%= pie_chart action.logs.where('created_at > ?', 3.months.ago).group(:response_code).count, height: "202px" %>
						<% elsif params[:stretch] == '6month' %>
							<!-- Ultimos 6 meses -->
							<%= pie_chart action.logs.where('created_at > ?', 6.months.ago).group(:response_code).count, height: "202px" %>
						<% elsif params[:stretch] == 'year' %>
							<!-- Ultimo a침o -->
							<%= pie_chart action.logs.where('created_at > ?', 1.year.ago).group(:response_code).count, height: "202px" %>
						<% else %>
							<!-- Ultimas 24 Horas -->
							<%= pie_chart action.logs.where('created_at > ?', 24.hours.ago).group(:response_code).count, height: "202px" %>
						<% end %>
					</div>
				</div>
			</div>
	<% end %>
</div>
<% end %>
